<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        {% for message in messages reversed %}
        document.querySelector('#chat-log').value += '{{ message.text }}' + '\n';
        {% endfor %}


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        if (window.location.protocol === 'https:') {
            var protocol = 'wss://';
        } else {
            var protocol = 'ws://';
        };
        const chatSocket = new WebSocket(
            protocol
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (JSON.stringify(data, null, 2) + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        setInterval(function() {
            chatSocket.send(JSON.stringify("heartbeat"));
        }, 30000);

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'type': 'chat_message',
                'text': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>