{% load static %}
<html>
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">Reset password</h1>
            <hr>
            <form action="#" name="form">
                {% csrf_token %}
                <div style="float:inside;">
                    <label for="inputUsername" class="sr-only">username</label>
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div style="float: inside">
                    <button class="btn btn-lg btn-light btn-block" type="button" id='resetEmail'>Send password reset link</button>
                </div>
                <br>
                <div style="float: inside">
                    <p id="email_state" hidden></p>
                </div>
            </form>
        </main>

        <script>
        document.getElementById("inputUsername").addEventListener("click", resetStyle);
        document.getElementById("inputUsername").addEventListener("change", resetStyle);
        function resetStyle() {
                this.style = $(".form-control")
        }

        document.getElementById("resetEmail").addEventListener("click", sendEmail);

        function sendEmail() {
            document.getElementById("resetEmail").disabled = true;
            document.getElementById("email_state").hidden = true;

            let username = document.getElementById('inputUsername').value;

            if (username === "") {
                document.getElementById('inputUsername').style.borderColor = "red";
                document.getElementById("resetEmail").disabled = false;
            }
            if (username !== "") {
                let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp_post.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        document.getElementById("email_state").innerText = this.responseText;
                        document.getElementById("email_state").hidden = false;
                        document.getElementById("resetEmail").disabled = false;
                    }
                }
                xmlhttp_post.open("POST", "/user/reset-password/send-email/"); // Method and Target
                xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
                xmlhttp_post.send($('form').serialize()); //From JSON Object to String
            }
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
