{% load static %}
<html>
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">Reset password</h1>
            <hr>
            <form action="#" name="form" id="reset-form">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">
                <div style="float:inside;">
                    <label for="inputNewPassword" class="sr-only">username</label>
                    <input type="password" id="inputNewPassword" name="password" class="form-control" placeholder="New password" required autofocus>
                    <label for="inputRepeatedPassword" class="sr-only">username</label>
                    <input type="password" id="inputRepeatedPassword" name="repeated_password" class="form-control" placeholder="Repeat password" required autofocus>
                </div>
                <div style="float: inside">
                    <button class="btn btn-lg btn-light btn-block" type="button" id='resetPassword'>Reset password</button>
                </div>
                <div>
                    <p id="errors" hidden></p>
                </div>
                <br>
            </form>
            <div style="float: inside" id="confirmation" hidden>
                    <p>Your password has been successfully reset</p>
                    <div>
                        <button class="btn btn-lg btn-light btn-block" type="button" id='loginButton' onclick="location.href='{{ settings.LOGIN_URL }}'">Proceed to login</button>
                    </div>
                </div>
        </main>

        <script>
        document.addEventListener(
            "keydown",
            function(event) {
                if (event.code === "Enter") {
                    document.getElementById("resetPassword").click();
                }
            }
        );
        document.getElementById("inputNewPassword").addEventListener("click", resetStyle);
        document.getElementById("inputNewPassword").addEventListener("change", resetStyle);
        document.getElementById("inputRepeatedPassword").addEventListener("click", resetStyle);
        document.getElementById("inputRepeatedPassword").addEventListener("change", resetStyle);
        function resetStyle() {
                this.style = $(".form-control")
        }

        document.getElementById("resetPassword").addEventListener("click", resetPassword);

        function resetPassword() {
            document.getElementById("errors").hidden = true;
            document.getElementById("errors").style = $('p');
            document.getElementById("resetPassword").disabled = true;

            let password = document.getElementById('inputNewPassword').value;
            let repeat_password = document.getElementById('inputRepeatedPassword').value;

            if (password === "") {
                document.getElementById('inputNewPassword').style.borderColor = "red";
                document.getElementById("resetPassword").disabled = false;
            }
            else if (repeat_password=== "") {
                document.getElementById('inputRepeatedPassword').style.borderColor = "red";
                document.getElementById("resetPassword").disabled = false;
            }
            else if (password === repeat_password) {
                let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp_post.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        if (this.status === 200) {
                            document.getElementById('reset-form').hidden = true;
                            document.getElementById("confirmation").hidden = false;
                        }
                        else if (400 <= this.status < 500) {
                            document.getElementById("errors").innerText = this.responseText;
                            document.getElementById("errors").style.color = "red";
                            document.getElementById("errors").hidden = false;
                            document.getElementById("resetPassword").disabled = false;
                        }
                        else {
                            document.getElementById("errors").innerText = "An error occurred, please contact an administrator"
                            document.getElementById("errors").style.color = "red";
                            document.getElementById("errors").hidden = false;
                            document.getElementById("resetPassword").disabled = false;
                        }
                    }
                }
                xmlhttp_post.open("POST", "/user/reset-password/"); // Method and Target
                xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
                xmlhttp_post.send($('form').serialize()); //From JSON Object to String
            }
            else {
                document.getElementById("errors").innerText = "Passwords do not match";
                document.getElementById("errors").style.color = "red";
                document.getElementById("errors").hidden = false;
                document.getElementById("resetPassword").disabled = false;
            }
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
