{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ stream.name }} is now online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://use.fontawesome.com/bc59cc0bbf.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{% static 'songspotting/favicon.ico' %}"/>  <!--Load icon from static files-->

        <style>
        html, body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-align: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
        }
        </style>

    </head>
    <body class="text-center">
        <main role="main" class="container">
            <h2 class="mt-5" id=login_title><b>{{ stream.name }}</b> is now online</h2>
            {% if stream.description %}
            <div>
                <p class="lead"><i>{{ stream.description }}</i></p>
            </div>
            {% endif %}
            <div>
                <p class="lead">Streaming started {{ stream.start_datetime|date:"D d M Y H:i:s e" }}</p>
                <p class="lead">Click here to listen:</p>
                <a  class="btn btn-light" href="{{listen_url}}" style="background-color: #f57c00; color:white; ">
                    Go to radio
                </a>
            </div>
            <p class="url">If the link does not work, copy and past this URL in your browser: {{listen_url}}</p>
            <p class="lead">This message has been sent to you by a SongSpotting administrator, you can reply directly to this email for any question.</p>
            <p class="lead">If you don't want to receive this kind of email, you can change your subscription <a href="{{notification_settings_url}}">here</a>.</p>
        </main>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
