 <!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "header.html" %}
    {%  include 'icecast_style.html' %}
    <body>
        <main role="main" id="main">
            <h1 class="mt-5">Stream Recordings</h1>
            {% if not stream_recordings %}
            <div style="color: floralwhite" id="no_streams_available_message">
                <h3 class="mt-3">No way!</h3>
                <h5 class="mt-5">
                    No recordings in storage??<br>
                    Go play something now!
                </h5>
            </div>
            {% endif %}
            {% for stream, recordings in stream_recordings.items %}
            <div class="roundbox" id="stream_box_{{ stream.id }}">
                <div class="mounthead">
                    <h3 class="mount">Stream: <i>{{ stream.name }}</i></h3>
                </div>
                <div class="mountcont">
                    {% for recording in recordings %}
                    <div id="recording_div_{{ recording.id }}" style="margin-top: 10px; margin-bottom: 10px;">
                        <div style="margin-bottom: 5px;">
                            <audio id="audio_{{ recording.id }}" controls="controls" preload="metadata">
                                <source src="{{ recording.file.url }}" type="audio/mpeg">
                            </audio>
                        </div>
                        <table class="yellowkeys">
                            <tbody>
                            <tr>
                                <td style="color: whitesmoke;">Description:</td>
                                <td>{{ recording.description|linebreaksbr }}</td>
                            </tr>
                            <tr>
                                <td style="color: whitesmoke;">Stream started:</td>
                                <td class="streamstats">{{ recording.start_datetime.isoformat }}</td>
                            </tr>
                            <tr>
                                <td style="color: whitesmoke;">Download:</td>
                                <td class="streamstats"><a class="streamurl" href="{% url 'download-recording' recording_id=recording.id %}">{{ recording.file_name }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                        {% if recording.stream.owner.pk == user.pk %}
                        <button class="btn btn-lg btn-light" style="background-color:darkred;" value="{{ recording.id }}" onclick="deleteRecording(this)">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
        </main>
    </body>
    <script>
        const csrftoken = $('[name=csrfmiddlewaretoken]')[0].value;
        function deleteRecording(button_obj) {
            this.blur();
            if (!confirm("Are you sure you want to delete the recording?")) {
                return;
            }
            let request = new XMLHttpRequest();   // new HttpRequest instance
            request.addEventListener("readystatechange", removeRecording);

            function removeRecording(event) {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        document.getElementById('recording_div_' + button_obj.value).remove();
                    }
                }
            }

            request.open("DELETE", '/radio/recordings/' + button_obj.value + '/delete/');
            request.setRequestHeader("X-CSRFToken", csrftoken);
            request.send();
        }
    </script>
    {% include "footer.html" %}
</html>
