{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{%  include 'icecast_style.html' %}
<body>
<main role="main" id="main">
    <h1 class="mt-5">Manage streams</h1>
    <div style="color: floralwhite" id="no_streams_available_message">
        <h3 class="mt-3">WTF!</h3>
        <h5 class="mt-5">
            You haven't streamed anything yet?<br>
            What are you waiting for? Create one NOW!
        </h5>
    </div>

    <div class="roundbox" id="new_stream_template" hidden>
        <div class="mountcont">
            <table class="yellowkeys">
                <tbody>
                <tr>
                    <td style="color: whitesmoke;">Stream Name:</td>
                    <td><input type="text" id="new_stream_name" required></td>
                </tr>
                <tr>
                    <td style="color: whitesmoke;">Stream Description:</td>
                    <td><textarea id="new_stream_description" style="resize: none"></textarea></td>
                </tr>
                </tbody>
            </table>
            <p id="new_stream_template_error_msg" style="color: red;" hidden>Error message shown when new stream creation fails</p>
        </div>
        <button class="btn btn-lg btn-light" type="button" id="createStreamButton" style="background-color: darkgreen" onclick="createStream(); this.blur();">Create stream</button>
    </div>

    <button class="btn btn-lg btn-light" type="button" id="addStreamButton" onclick="showNewStreamTemplate(); this.blur();">Add stream</button>
    {% csrf_token %}
</main>
<script>
    const csrftoken = $('[name=csrfmiddlewaretoken]')[0].value;
    var streamPopups = {};
    var streamBoxes = {};

    function showNewStreamTemplate() {
        document.getElementById("new_stream_template").hidden = false;
        document.getElementById("addStreamButton").hidden = true;
    }

    function hideNewStreamTemplate() {
        document.getElementById("new_stream_template").hidden = true;
        document.getElementById("new_stream_template_error_msg").hidden = true;
    }

    function createHTMLMountHeader(stream) {
        let mounthead = document.createElement('div');
        mounthead.className = 'mounthead';
        let mountpoint = document.createElement('h3');
        mountpoint.className = 'mount';
        mountpoint.innerHTML = stream.name;
        mounthead.appendChild(mountpoint);

        let right = document.createElement('div');
        right.className = 'right';
        mounthead.appendChild(right);
        let mountlist = document.createElement('ul');
        mountlist.className = 'mountlist';
        right.appendChild(mountlist);
        let li_element = document.createElement('li');
        mountlist.appendChild(li_element);
        let play = document.createElement('a');
        play.className = 'play';
        play.onclick = function (e) {
            e.preventDefault();
            opensStreamPopup(stream)
        }
        play.innerText = 'Stream';
        li_element.appendChild(play);

        return mounthead;
    }

    function createHTMLStreamDataTable(stream) {
        let table = document.createElement('table');
        table.className = "yellowkeys";
        let table_body = document.createElement('tbody');
        table.appendChild(table_body);

        // Stream name
        let tr = document.createElement('tr');
        table_body.append(tr);
        let td = document.createElement('td');
        td.style.color = "whitesmoke";
        td.innerText = "Name:";
        tr.appendChild(td);
        td = document.createElement('td');
        td.innerText = stream.name;
        tr.appendChild(td);

        // Stream description
        tr = document.createElement('tr');
        table_body.append(tr);
        td = document.createElement('td');
        td.style.color = "whitesmoke";
        td.innerText = "Description:";
        tr.appendChild(td);
        td = document.createElement('td');
        td.innerText = stream.description;
        tr.appendChild(td);

        // Stream active
        tr = document.createElement('tr');
        table_body.append(tr);
        td = document.createElement('td');
        td.style.color = "whitesmoke";
        td.innerText = "Active:";
        tr.appendChild(td);
        td = document.createElement('td');
        td.className = "streamstats";
        td.innerText = stream.active;
        tr.appendChild(td);

        if (stream.active) {
            // Stream started time
            tr = document.createElement('tr');
            table_body.append(tr);
            td = document.createElement('td');
            td.style.color = "whitesmoke";
            td.innerText = "Started:";
            tr.appendChild(td);
            td = document.createElement('td');
            td.className = "streamstats";
            const start_datetime = new Date(stream.start_datetime);
            td.innerText = start_datetime.toLocaleString();
            tr.appendChild(td);

            // Stream URL
            tr = document.createElement('tr');
            table_body.append(tr);
            td = document.createElement('td');
            td.style.color = "whitesmoke";
            td.innerText = "Stream URL:";
            tr.appendChild(td);
            td = document.createElement('td');
            td.className = "streamstats";
            tr.appendChild(td);
            let stream_url = document.createElement('a');
            stream_url.className = "streamurl";
            stream_url.href = stream.url;
            stream_url.innerText = stream.url;
            td.appendChild(stream_url);
        }

        return table;
    }

    function createHTMLMountCont(stream) {
        let mountcont = document.createElement('div');
        mountcont.className = 'mountcont';

        let stream_data_table = createHTMLStreamDataTable(stream);
        mountcont.appendChild(stream_data_table);

        let delete_button = createHTMLDeleteButton(stream);
        mountcont.appendChild(delete_button);

        return mountcont;
    }

    function createHTMLDeleteButton(stream) {
        let delete_button = document.createElement('button');
        delete_button.setAttribute('class', "btn btn-lg btn-light");
        delete_button.setAttribute('style', "background-color:darkred;");
        delete_button.innerText = 'Delete';
        delete_button.onclick = function () {
            this.blur();
            deleteStream(stream);
        }
        return delete_button
    }

    function createHTMLStreamBox(stream) {
        let stream_box = document.createElement('div');
        stream_box.className = 'roundbox';
        stream_box.id = "stream_box_" + stream.id;

        const mounthead = createHTMLMountHeader(stream);
        stream_box.appendChild(mounthead);

        const mountcont = createHTMLMountCont(stream);
        stream_box.appendChild(mountcont);

        //document.getElementById('main').appendChild(stream_box);
        document.getElementById('main').insertBefore(
            stream_box,
            document.getElementById("new_stream_template")
        );

        document.getElementById("no_streams_available_message").hidden = true;
        streamBoxes[stream.id] = stream_box;
    }

    function removeHTMLStreamBox(stream) {
        streamBoxes[stream.id].remove();
        delete streamBoxes[stream.id];
        if (Object.keys(streamBoxes).length === 0) {
            document.getElementById("no_streams_available_message").hidden = false;
        }
    }

    function createStream() {
        let stream_name_input = document.getElementById("new_stream_name");
        if (!stream_name_input.reportValidity()) {
            return;
        }
        const stream_name = stream_name_input.value;
        let stream_description_input = document.getElementById("new_stream_description");
        const stream_description = stream_description_input.value;
        if (!confirm("Are you sure you want to create stream " + stream_name + '?')) {
            return;
        }
        let request = new XMLHttpRequest();   // new HttpRequest instance
        request.addEventListener("readystatechange", _removeStream);

        function _removeStream(event) {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    const stream = JSON.parse(this.responseText);
                    createHTMLStreamBox(stream);
                    hideNewStreamTemplate();
                    document.getElementById("addStreamButton").hidden = false;
                } else if (this.status === 400) {
                    document.getElementById("new_stream_template_error_msg").innerText = this.responseText;
                    document.getElementById("new_stream_template_error_msg").hidden = false;
                }
            }
        }

        request.open("POST", window.location.href);
        request.setRequestHeader("X-CSRFToken", csrftoken);
        request.send(JSON.stringify({'name': stream_name, 'description': stream_description}));
    }

    function opensStreamPopup(stream) {
        if (!streamPopups[stream.id] || streamPopups[stream.id].closed) {
            streamPopups[stream.id] = window.open(
                '/radio/stream/' + stream.id +'/',
                stream.name,
                'popup'
            );
        } else {
            streamPopups[stream.id].focus();
        }
    }

    function removeStream(stream) {
        removeHTMLStreamBox(stream);
        if (streamPopups[stream.id]) {
            streamPopups[stream.id].close();
        }
    }

    function deleteStream(stream) {
        if (!confirm("Are you sure you want to delete stream " + stream.name + '? This will also remove all the recordings.')) {
            return;
        }
        let request = new XMLHttpRequest();   // new HttpRequest instance
        request.addEventListener("readystatechange", _removeStream);

        function _removeStream(event) {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    removeStream(stream);
                }
            }
        }

        request.open("DELETE", '/radio/stream/' + stream.id + '/');
        request.setRequestHeader("X-CSRFToken", csrftoken);
        request.send();
    }
    {% for stream in streams %}
        createHTMLStreamBox({{ stream.to_json|safe }});
    {% endfor %}
</script>
</body>
{% include "footer.html" %}
</html>
