{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ stream.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://use.fontawesome.com/bc59cc0bbf.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static 'songspotting/favicon.ico' %}"/>  <!--Load icon from static files-->
    {% include 'icecast_style.html' %}
    <style>
        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-image: url("{% static 'songspotting/background.png' %}");
          background-repeat: no-repeat;
            background-size: cover;
          background-attachment: fixed;
        }
        h1 {
            color: navajowhite;
          /*text-shadow: -1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
        }
        h2 {
            color: white;
        }
        h3 {
            color: white;
        }
        p {
            color: white;
        }
        hr {
            size: 100px;
            width: 100%;
            color: navajowhite;
        }
    </style>
</head>
<body>
<main role="main" id="main">
    <h1 class="mt-5">{{ stream.name }}</h1>
    <label for="audioSource" style="color: floralwhite;">Audio input source: </label>
    <div style="display: flex;">
        <select id="audioSource" class="form-select custom-select"></select>
        <button id="refresh-audio-sources" type="button" class="btn btn-light btn-outline-secondary" onclick="refreshAudioSources()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
            </svg>
        </button>
    </div>
    <div class="btn-group">
        <button id="stop-streaming" type="button" class="btn btn-light btn-outline-secondary" onclick="stopStreaming()" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
                <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"></path>
            </svg>
        </button>
        <button id="start-streaming" type="button" class="btn btn-light btn-outline-secondary" onclick="startStreaming()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
            </svg>
        </button>
    </div>
    <input id="record-stream-checkbox" type="checkbox" hidden>
    <button id="record-stream-button" class="btn btn-light btn-outline-secondary" style="background-color:red;" onclick="changeRecordingState()" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"></path>
        </svg>
    </button>
    <script src={% static 'radio/lame.all.js' %}></script>
    <script>
        const audioInputSelect = document.querySelector('select#audioSource');
        protocol = 'wss://';
        if (window.location.protocol !== 'https:') {
            protocol = 'ws://';
        }

        function audioDataCallback(encodedData) {
            if (streamSocket.readyState === streamSocket.CLOSING || streamSocket.readyState === streamSocket.CLOSED) {
                stopStreaming();
            } else {
                streamSocket.send(encodedData);
            }
        }

        var streamSocket;
        var source_stream;
        var script_processor_node;
        var audioContext;
        var channels = 2;
        var sampleRate = 44100;
        var kbps = 320;
        var mp3encoder = new lamejs.Mp3Encoder(channels, sampleRate, kbps);

        var BUFF_SIZE = 4096; // needs to be power of two

        var samples = new Int16Array(BUFF_SIZE);
        var sampleBlockSize = 1152; // can be anything but make it a multiple of 576 to make encoder's life easier

        var is_recording = false;

        function setRecordingState() {
            recording_enabled = document.getElementById('record-stream-checkbox').checked;
            if (recording_enabled) {
                document.getElementById('record-stream-button').style.backgroundColor = "darkred";
            }
            else {
                document.getElementById('record-stream-button').style.backgroundColor = "red";
            }
            message = {
                'recording_enabled': recording_enabled
            };
            streamSocket.send(JSON.stringify(message));
        }
        function changeRecordingState() {
            if (!is_recording) {
                return;
            }
            recording_checkbox = document.getElementById('record-stream-checkbox');
            recording_checkbox.checked = !recording_checkbox.checked;
            setRecordingState();
        }
        function startStreaming() {
            if (audioContext && audioContext.state === 'running') {
                return;
            }
            streamSocket = new WebSocket(
                protocol
                + window.location.host
                + '/ws/radio/stream/'
                + '{{ stream.id }}'
                + '/'
            );
            streamSocket.addEventListener('open', (event) => {
                is_recording = true;
                document.getElementById('start-streaming').disabled = true;
                document.getElementById('stop-streaming').disabled = false;
                record_button = document.getElementById('record-stream-button');
                record_button.style.color = "yellow";
                record_button.style.backgroundColor = "red";
                record_button.disabled = false;
            });
            streamSocket.addEventListener('close', (event) => {
                is_recording = false;
                document.getElementById('start-streaming').disabled = false;
                document.getElementById('stop-streaming').disabled = true;
                document.getElementById('record-stream-checkbox').checked = false;
                record_button = document.getElementById('record-stream-button');
                record_button.style.color = "grey";
                record_button.style.backgroundColor = "darkred";
                record_button.style.disabled = true;
            });

            const audioSource = audioInputSelect.value;

            navigator.mediaDevices.getUserMedia(
                {
                    audio: {
                        echoCancellation: false,
                        noiseSuppression: false,
                        autoGainControl: false,
                        deviceId: audioSource ? {exact: audioSource} : undefined
                    }
                }
            ).then(
                stream => {
                    start_streaming(stream);
                }
            ).catch(
                error => {
                    console.log('Error capturing audio.', error);
                }
            );
        }

        function stopStreaming() {
            if (audioContext && audioContext.state === 'running') {
                audioContext.close();
            }
            if (streamSocket.readyState === streamSocket.OPEN) {
                streamSocket.close();
            }
        }

        function start_streaming(stream) {
            audioContext = new AudioContext(
                {
                    sampleRate: sampleRate,
                }
            );
            source_stream = audioContext.createMediaStreamSource(stream);

            script_processor_node = audioContext.createScriptProcessor(BUFF_SIZE, 2, 2);            
            script_processor_node.onaudioprocess = process_microphone_buffer;

            var gain_node = audioContext.createGain();
            gain_node.gain.value = 0;

            source_stream.connect(script_processor_node);
            script_processor_node.connect(gain_node);
            gain_node.connect(audioContext.destination);
        }
        function process_microphone_buffer(event) {
            let leftSample = event.inputBuffer.getChannelData(0);
            let rightSample = event.inputBuffer.getChannelData(1);

            /* MP3 encode */
            for (var j = 0; j < BUFF_SIZE; j += sampleBlockSize) {
                var leftSampleBlock = leftSample.slice(j, j + sampleBlockSize);
                var rightSampleBlock = rightSample.slice(j, j + sampleBlockSize);
                var leftSampleI16 = convertToInt16Array(leftSampleBlock);
                var rightSampleI16 = convertToInt16Array(rightSampleBlock);
                var mp3 = mp3encoder.encodeBuffer(leftSampleI16, rightSampleI16);
                if (mp3.length > 0) {
                    audioDataCallback(mp3);
                }
            }
        }

        function convertToInt16Array(inputBuffer) {
            let outputBuffer = new Int16Array(inputBuffer.length);
            for (var i = 0; i < inputBuffer.length; i++) {
                v = inputBuffer[i];
                outputBuffer[i] = v < 0 ? v * 0x8000 : v * 0x7FFF;
            }
            return outputBuffer;
        }

        function refreshAudioSources() {
            navigator.mediaDevices.enumerateDevices().then(gotDevices).catch(console.log);
        }

        function gotDevices(deviceInfos) {
            // Handles being called several times to update labels. Preserve values.
            const value = audioInputSelect.value;
            while (audioInputSelect.firstChild) {
                audioInputSelect.removeChild(audioInputSelect.firstChild);
            }
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'audioinput') {
                    option.text = deviceInfo.label || `microphone ${audioInputSelect.length + 1}`;
                    audioInputSelect.appendChild(option);
                }
            }
            if (Array.prototype.slice.call(audioInputSelect.childNodes).some(n => n.value === value)) {
                audioInputSelect.value = value;
            }
        }
        function change_streaming_source(stream) {
            source_stream.disconnect();
            source_stream = audioContext.createMediaStreamSource(stream);
            source_stream.connect(script_processor_node);
        }
        audioInputSelect.onchange = function (e) {
            const audioSource = audioInputSelect.value;

            navigator.mediaDevices.getUserMedia(
                {
                    audio: {
                        echoCancellation: false,
                        noiseSuppression: false,
                        autoGainControl: false,
                        deviceId: audioSource ? {exact: audioSource} : undefined
                    }
                }
            ).then(
                stream => {
                    change_streaming_source(stream);
                }
            ).catch(
                error => {
                    console.log('Error capturing audio.', error);
                }
            );
        }

        // Get audio permission and refresh audio sources
        navigator.mediaDevices.getUserMedia(
            {audio: {}}
        ).then(
            stream => {refreshAudioSources();}
        ).catch(
            error => {refreshAudioSources();}
        );
    </script>
</main>
</body>
</html>