{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>There are new streams waiting for you!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://use.fontawesome.com/bc59cc0bbf.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{% static 'songspotting/favicon.ico' %}"/>  <!--Load icon from static files-->

        <style>
        html, body {
          height: 100%;
        }

        </style>

    </head>
    <body>
        <h2 class="mt-5" id=login_title>There are new streams waiting for you!</h2>
        <div>
            <p class="lead">The following stream is now available on <i>SongSpotting</i>:</p>
            <ul>
                {% if stream.description %}
                    <li><b>{{ stream.name }}</b>: {{ stream.description }}</li>
                {% else %}
                    <li><b>{{ stream.name }}</b></li>
                {%  endif %}
            </ul>
            <p class="lead">Click here to listen:</p>
            <a  class="btn btn-light" href="{{listen_url}}" style="background-color: #f57c00; color:white; ">
                Go to radio
            </a>
        </div>
        <p class="url">If the link does not work, copy and past this URL in your browser: {{listen_url}}</p>
        <p class="lead">This message has been sent to you by a SongSpotting administrator, you can reply directly to this email for any question.</p>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
