 <!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "header.html" %}
    {%  include 'icecast_style.html' %}
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
    <body>
        <script src={% static 'radio/StereoBalanceNode.js' %}></script>
        <script src={% static 'radio/StereoMixerNode.js' %}></script>
        <script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
        <main role="main" id="main">
            <h1 class="mt-5">Online Radio</h1>
            <div style="color: floralwhite" id="no_streams_available_message">
                <h3 class="mt-3">Holy s**t!</h3>
                <h5 class="mt-5">
                    Nothing is playing at the moment.<br>
                    Please come back later or set up <a href="/radio/notifications/" style="color: lightsalmon;">notifications</a> to receive an email
                    when a stream goes online.
                </h5>
            </div>
            <div style="color: white; margin-bottom: 10px; padding-right: 20px;" id="streaming_notes" hidden>
                <i>NOTE</i>: if you experience problems during streaming, you can download one of the <b>M3U</b> or <b>XSPF</b> files and open it using a program like VLC or foobar2000.<br>
                These files will give you access to the stream for a period of 1 hour starting from the download time, this means the file can not be used to start listening after its
                expiration, but open listening sessions will not be interrupted.<br>
                If you are using an Apple device, it's very likely that you will have to download the aforementioned files.<br>
            </div>
{#            {% for stream in streams %}#}
{#            <div class="roundbox" id="stream_box_{{ stream.id }}">#}
{#                <div class="mounthead">#}
{#                    <h3 class="mount">Mount Point: <i>{{ stream.mountpoint }}</i></h3>#}
{#                    <div class="right">#}
{#                        <ul class="mountlist">#}
{#                            <li><a class="play" href="/radio/icecast{{ stream.mountpoint }}.m3u">M3U</a></li>#}
{#                            <li><a class="play" href="/radio/icecast{{ stream.mountpoint }}.xspf">XSPF</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="mountcont">#}
{#                    <div style="margin-top: 5px; margin-bottom: 5px;">#}
{#                        <audio id="audio_{{ stream.id }}" controls="controls" preload="none" data-conf='{"height":"auto", "width":"auto"}' poster="{% static 'radio/aa023.jpg' %}" class=" video-js vjs-default-skin">#}
{##}
{#                        </audio>#}
{#                    </div>#}
{#                    <div style="color: floralwhite;">#}
{#                        <label for="panner_{{ stream.id }}" style="margin-right: 15px;">#}
{#                            <span>L</span><input type="range" id="panner_{{ stream.id }}" min="-1" max="1" value="0" step="0.002" class="slider"><span>R</span>#}
{#                        </label>#}
{#                        <label for="mix_channels_{{ stream.id }}">#}
{#                            <input type="checkbox" name="mix_channels_{{ stream.id }}" id="mix_channels_{{ stream.id }}">#}
{#                            Mix channels#}
{#                        </label>#}
{#                    </div>#}
{#                    <table class="yellowkeys">#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream Name:</td>#}
{#                            <td>{{ stream.name|linebreaksbr }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream Description:</td>#}
{#                            <td>{{ stream.description|linebreaksbr }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream started:</td>#}
{#                            <td class="streamstats">{{ stream.start_datetime.isoformat }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream URL:</td>#}
{#                            <td class="streamstats"><a class="streamurl" href="{{ stream.url }}">{{ stream.url }}</a></td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                    <div id="{{ stream.id }}_metadata_table" style="color:navajowhite;" hidden>#}
{#                        <br>#}
{#                        <b>Discogs release data</b>#}
{#                        <table class="yellowkeys">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Title:</td>#}
{#                                <td id="{{ stream.id }}_metadata_title"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Artist:</td>#}
{#                                <td id="{{ stream.id }}_metadata_artist"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Label:</td>#}
{#                                <td id="{{ stream.id }}_metadata_label"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Country:</td>#}
{#                                <td id="{{ stream.id }}_metadata_country"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Year:</td>#}
{#                                <td id="{{ stream.id }}_metadata_year"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Genre:</td>#}
{#                                <td id="{{ stream.id }}_metadata_genre"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Style:</td>#}
{#                                <td id="{{ stream.id }}_metadata_style"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Discogs release:</td>#}
{#                                <td><a class="streamurl" href="" id="{{ stream.id }}_metadata_uri"></a></td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                        <br>#}
{#                    </div>#}
{#                    <form name="{{ stream.id }}_metadata_release_form">#}
{#                        <label for="{{ stream.id }}_metadata_release_id" style="color: navajowhite">Discogs release ID:</label>#}
{#                        <input style="width:50%;" id="{{ stream.id }}_metadata_release_id" name="release_id">#}
{#                        {% csrf_token %}#}
{#                        <button class="btn" onmouseup="this.blur();">Set metadata</button>#}
{#                    </form>#}
{#                    <div id="{{ stream.id }}_metadata_error_msg" style="color:orangered;" hidden>#}
{#                        Error msg#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            {% endfor %}#}
        </main>
        <script>
            const current_user = '{{ user.get_username }}'
            let mediaPlayers = {};
            let audioTracks = {};
            let audioMixers = {};
            let audioBalancers = {};
            let audioContexts= {};
            let streamListenersCountIntervals = {};

            function createHTMLMountHeader(stream) {
{#                <div class="mounthead">#}
{#                    <h3 class="mount">Mount Point: <i>{{ stream.mountpoint }}</i></h3>#}
{#                    <div class="right">#}
{#                        <ul class="mountlist">#}
{#                            <li><a class="play" href="/radio/icecast{{ stream.mountpoint }}.m3u">M3U</a></li>#}
{#                            <li><a class="play" href="/radio/icecast{{ stream.mountpoint }}.xspf">XSPF</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
                let mounthead = document.createElement('div');
                mounthead.className = 'mounthead';
                let mountpoint = document.createElement('h3');
                mountpoint.className = 'mount';
                mountpoint.innerHTML = 'Stream: <i>' + stream.name + '</i>';
                mounthead.appendChild(mountpoint);
                let right = document.createElement('div');
                right.className = 'right';
                mounthead.appendChild(right);
                let mountlist = document.createElement('ul');
                mountlist.className = 'mountlist';
                right.appendChild(mountlist);
                let li_element = document.createElement('li');
                mountlist.appendChild(li_element);
                let play = document.createElement('a');
                play.className = 'play';
                play.href = '/radio/playlist/m3u/' + stream.id + '/';
                play.innerText = 'M3U';
                li_element.appendChild(play);
                li_element = document.createElement('li');
                mountlist.appendChild(li_element);
                play = document.createElement('a');
                play.className = 'play';
                play.href = '/radio/playlist/xspf/' + stream.id + '/';
                play.innerText = 'XSPF';
                li_element.appendChild(play);
                return mounthead;
            }

            function createHTMLAudioPlayer(stream) {
{#                    <div style="margin-top: 5px; margin-bottom: 5px;">#}
{#                        <audio id="audio_{{ stream.id }}" controls="controls" preload="none" data-conf='{"height":"auto", "width":"auto"}' poster="{% static 'radio/aa023.jpg' %}" class=" video-js vjs-default-skin">#}
{#                        </audio>#}
{#                    </div>#}
                let audio_div = document.createElement('div');
                audio_div.style = "margin-top: 5px; margin-bottom: 5px;";
                let audio = document.createElement('audio');
                audio.id = "audio_" + stream.id;
                audio.controls = true;
                audio.preload = "none";
                audio.setAttribute('data-conf', '{"height":"auto", "width":"auto"}');
                audio.poster = stream.background.url;
                audio.className = "video-js vjs-default-skin";

                audio_div.appendChild(audio);

                let player = videojs(audio);
                player.src({
                    src: stream.url,
                    type: "audio/mpeg"
                });
                player.on('play', function(e) {
                    prepareAudioContext(stream.id.toString());
                });
                player.defaultPoster = stream.background.url;
                mediaPlayers[stream.id] = player;

                return audio_div;
            }

            function createHTMLAudioControls(stream) {
{#                    <div style="color: floralwhite;">#}
{#                        <label for="panner_{{ stream.id }}" style="margin-right: 15px;">#}
{#                            <span>L</span><input type="range" id="panner_{{ stream.id }}" min="-1" max="1" value="0" step="0.002" class="slider"><span>R</span>#}
{#                        </label>#}
{#                        <label for="mix_channels_{{ stream.id }}">#}
{#                            <input type="checkbox" name="mix_channels_{{ stream.id }}" id="mix_channels_{{ stream.id }}">#}
{#                            Mix channels#}
{#                        </label>#}
{#                    </div>#}
                let audio_controls_div = document.createElement('div');
                audio_controls_div.style.color = "floralwhite";

                let panner_label = document.createElement('label');
                panner_label.setAttribute('for', "panner_" + stream.id)
                panner_label.style = "margin-right: 15px;";
                audio_controls_div.appendChild(panner_label);
                let span_l = document.createElement('span');
                span_l.innerHTML = 'L';
                panner_label.appendChild(span_l);
                let panner_input = document.createElement('input');
                panner_input.type = "range";
                panner_input.id = "panner_" + stream.id;
                panner_input.min = "-1";
                panner_input.max = "1";
                panner_input.value = "0";
                panner_input.step = "0.002"
                panner_input.className = "slider";
                panner_label.appendChild(panner_input);
                let span_r = document.createElement('span');
                span_r.innerHTML = 'R';
                panner_label.appendChild(span_r);

                let mix_channels_label = document.createElement('label');
                mix_channels_label.setAttribute('for', "mix_channels_" + stream.id)
                mix_channels_label.innerText = "Mix channels";
                audio_controls_div.appendChild(mix_channels_label);
                let mix_channels_input = document.createElement('input');
                mix_channels_input.type = "checkbox";
                mix_channels_input.id = "mix_channels_" + stream.id;
                mix_channels_label.insertBefore(mix_channels_input, mix_channels_label.firstChild);

                panner_input.addEventListener('input', function() {
                    setAudioPan(stream.id.toString())
                });

                mix_channels_input.addEventListener('input', function() {
                    switchChannelMixer(stream.id.toString())
                });

                return audio_controls_div;
            }

            function createHTMLStreamDataTable(stream) {
{#                    <table class="yellowkeys">#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream Name:</td>#}
{#                            <td>{{ stream.name|linebreaksbr }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream Description:</td>#}
{#                            <td>{{ stream.description|linebreaksbr }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream started:</td>#}
{#                            <td class="streamstats">{{ stream.start_datetime.isoformat }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td style="color: whitesmoke;">Stream URL:</td>#}
{#                            <td class="streamstats"><a class="streamurl" href="{{ stream.url }}">{{ stream.url }}</a></td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
                let table = document.createElement('table');
                table.className = "yellowkeys";
                let table_body = document.createElement('tbody');
                table.appendChild(table_body);

                // Stream owner
                let tr = document.createElement('tr');
                table_body.append(tr);
                let td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Streamed by:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.innerText = stream.owner;
                tr.appendChild(td);

                // Stream description
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Description:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.innerText = stream.description;
                tr.appendChild(td);

                // Stream started time
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Started:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.className = "streamstats";
                const start_datetime = new Date(stream.start_datetime);
                td.innerText = start_datetime.toLocaleString();
                tr.appendChild(td);

                // Stream listeners count
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Listeners count:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.className = "streamstats";
                td.innerText = stream.listeners_count;
                td.id = stream.id + "_listeners_count";
                tr.appendChild(td);

                // Stream URL
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Stream URL:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.className = "streamstats";
                tr.appendChild(td);
                let stream_url = document.createElement('a');
                stream_url.className = "streamurl";
                stream_url.href = stream.url;
                stream_url.innerText = stream.url;
                td.appendChild(stream_url);

                return table;
            }

            function createHTMLStreamMetadataTable(stream) {
{#                    <div id="{{ stream.id }}_metadata_table" style="color:navajowhite;" hidden>#}
{#                        <br>#}
{#                        <b>Discogs release data</b>#}
{#                        <table class="yellowkeys">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Title:</td>#}
{#                                <td id="{{ stream.id }}_metadata_title"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Artist:</td>#}
{#                                <td id="{{ stream.id }}_metadata_artist"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Label:</td>#}
{#                                <td id="{{ stream.id }}_metadata_label"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Country:</td>#}
{#                                <td id="{{ stream.id }}_metadata_country"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Year:</td>#}
{#                                <td id="{{ stream.id }}_metadata_year"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Genre:</td>#}
{#                                <td id="{{ stream.id }}_metadata_genre"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Style:</td>#}
{#                                <td id="{{ stream.id }}_metadata_style"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="color: whitesmoke;">Discogs release:</td>#}
{#                                <td><a class="streamurl" href="" id="{{ stream.id }}_metadata_uri"></a></td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                        <br>#}
{#                    </div>#}
                let table_div = document.createElement('div');
                table_div.id = stream.id + "_metadata_table";
                table_div.style.color = "navajowhite";
                table_div.hidden = true;
                table_div.appendChild(document.createElement('br'));
                let header = document.createElement('b');
                header.innerText = "Discogs release data";
                table_div.appendChild(header);

                let table = document.createElement('table');
                table.className = "yellowkeys";
                table_div.appendChild(table);
                let table_body = document.createElement('tbody');
                table.appendChild(table_body);

                // Title
                let tr = document.createElement('tr');
                table_body.append(tr);
                let td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Title:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_title";
                tr.appendChild(td);

                // Artist
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Artist:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_artist";
                tr.appendChild(td);

                // Label
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Label:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_label";
                tr.appendChild(td);

                // Country
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Country:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_country";
                tr.appendChild(td);

                // Year
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Year:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_year";
                tr.appendChild(td);

                // Genre
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Genre:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_genre";
                tr.appendChild(td);

                // Style
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Style:";
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = stream.id + "_metadata_style";
                tr.appendChild(td);

                // Discogs release URL
                tr = document.createElement('tr');
                table_body.append(tr);
                td = document.createElement('td');
                td.style.color = "whitesmoke";
                td.innerText = "Discogs release:";
                tr.appendChild(td);
                td = document.createElement('td');
                tr.appendChild(td);
                let stream_url = document.createElement('a');
                stream_url.className = "streamurl";
                stream_url.id = stream.id + "_metadata_uri";
                td.appendChild(stream_url);

                table_div.appendChild(document.createElement('br'));

                return table_div;
            }

            function createHTMLMetadataReleaseForm(stream) {
{#                    <form name="{{ stream.id }}_metadata_release_form">#}
{#                        <label for="{{ stream.id }}_metadata_release_id" style="color: navajowhite">Discogs release ID:</label>#}
{#                        <input style="width:50%;" id="{{ stream.id }}_metadata_release_id" name="release_id">#}
{#                        <button class="btn" onmouseup="this.blur();">Set metadata</button>#}
{#                    </form>#}
                let form = document.createElement('form');
                form.name = stream.id + "_metadata_release_form";
                let label = document.createElement('label');
                label.setAttribute('for', stream.id + "_metadata_release_id");
                label.style.color = "navajowhite";
                label.innerText = "Discogs release ID:";
                form.appendChild(label);
                let input = document.createElement('input');
                input.style.width = "50%";
                input.id = stream.id + "_metadata_release_id"
                input.name = "release_id";
                form.appendChild(input);
                let button = document.createElement('button');
                button.className = "btn";
                button.setAttribute('onmouseup', "this.blur();");
                button.innerText = "Set metadata";
                form.appendChild(button);

                form.onsubmit = function (e) {
                    e.preventDefault();
                    setMetadata(stream.id);
                };

                return form;
            }

            function createHTMLMetadataErrorMessage(stream) {
{#                    <div id="{{ stream.id }}_metadata_error_msg" style="color:orangered;" hidden>#}
{#                        Error msg#}
{#                    </div>#}
                let error_msg = document.createElement('div');
                error_msg.id = stream.id + "_metadata_error_msg";
                error_msg.style.color = "orangered";
                error_msg.hidden = true;

                return error_msg;
            }

            function createHTMLMountCont(stream) {
                let mountcont = document.createElement('div');
                mountcont.className = 'mountcont';

                let audio_div = createHTMLAudioPlayer(stream);
                mountcont.appendChild(audio_div);

                let audio_controls_div = createHTMLAudioControls(stream);
                mountcont.appendChild(audio_controls_div);

                let stream_data_table = createHTMLStreamDataTable(stream);
                mountcont.appendChild(stream_data_table);

                let stream_metadata_table = createHTMLStreamMetadataTable(stream);
                mountcont.appendChild(stream_metadata_table);

                if (stream.owner === current_user) {
                    let stream_metadata_release_form = createHTMLMetadataReleaseForm(stream);
                    mountcont.appendChild(stream_metadata_release_form);
                }

                let stream_metadata_release_form_error = createHTMLMetadataErrorMessage(stream);
                mountcont.appendChild(stream_metadata_release_form_error);

                return mountcont;
            }

            function createHTMLStreamBox(stream) {
                let stream_box = document.createElement('div');
                stream_box.className = 'roundbox';
                stream_box.id = "stream_box_" + stream.id;

                const mounthead = createHTMLMountHeader(stream);
                stream_box.appendChild(mounthead);

                const mountcont = createHTMLMountCont(stream);
                stream_box.appendChild(mountcont);

                document.getElementById('main').appendChild(stream_box);
            }

            function removeHTMLStreamBox(stream) {
                document.getElementById('stream_box_' + stream.id).remove();
            }

            function showNewStream(stream) {
                document.getElementById("no_streams_available_message").hidden = true;
                document.getElementById("streaming_notes").hidden = false;

                createHTMLStreamBox(stream);
                showMetadata(stream.id, stream.metadata);
                streamListenersCountIntervals[stream.id] = setInterval(function() {
                    const request = new XMLHttpRequest();
                    request.onreadystatechange = function() {
                        if (this.readyState === 4) {
                            if (this.status === 200) {
                                const listeners_count = this.responseText;
                                updateListenerCount(stream.id, listeners_count);
                            }
                        }
                    }
                    request.open("GET", '/radio/stream/' + stream.id + '/listeners-count/');
                    request.send();
                }, 10000);
            }

            function removeDeactivatedStream(stream) {
                removeHTMLStreamBox(stream);
                const stream_id = stream.id.toString();
                delete mediaPlayers[stream_id];
                delete audioTracks[stream_id];
                delete audioMixers[stream_id];
                delete audioBalancers[stream_id];
                delete audioContexts[stream_id];
                clearInterval(streamListenersCountIntervals[stream.id]);
                delete(streamListenersCountIntervals[stream.id]);

                if (Object.keys(mediaPlayers).length === 0) {
                    document.getElementById("streaming_notes").hidden = true;
                    document.getElementById("no_streams_available_message").hidden = false;
                }
            }

            function switchChannelMixer(stream_id) {
                const is_mixer_enabled = document.getElementById("mix_channels_" + stream_id).checked;
                audioTracks[stream_id].disconnect();
                if (is_mixer_enabled) {
                    audioTracks[stream_id].connect(audioMixers[stream_id]).connect(audioContexts[stream_id].destination);
                } else {
                    audioTracks[stream_id].connect(audioBalancers[stream_id]).connect(audioContexts[stream_id].destination);
                }
            }

            function prepareAudioContext(stream_id) {
                try {
                    const audioContext = new AudioContext();
                    audioTracks[stream_id] = audioContext.createMediaElementSource(mediaPlayers[stream_id].tech().el());
                    audioBalancers[stream_id] = new StereoBalanceNode(audioContext, { balance: 0 });
                    audioMixers[stream_id] = new StereoMixerNode(audioContext, { balance: 0 });
                    audioContexts[stream_id] = audioContext;

                    let value = document.getElementById("panner_" + stream_id).value;
                    audioMixers[stream_id].balance.value = value;
                    audioBalancers[stream_id].balance.value = value;

                    if (document.getElementById("mix_channels_" + stream_id).checked) {
                        audioTracks[stream_id].connect(audioMixers[stream_id]).connect(audioContexts[stream_id].destination);
                    } else {
                        audioTracks[stream_id].connect(audioBalancers[stream_id]).connect(audioContexts[stream_id].destination);
                    }
                } catch(error) {
                    console.log(error);
                }
            }

            function setAudioPan(stream_id) {
                const value = document.getElementById("panner_" + stream_id).value;
                audioMixers[stream_id].balance.value = value;
                audioBalancers[stream_id].balance.value = value;
            }

            function updateListenerCount(stream_id, listeners_count) {
                document.getElementById(stream_id + "_listeners_count").innerText = listeners_count;
            }

            if (window.location.protocol === 'https:') {
                ws_protocol = 'wss://';
            } else {
                ws_protocol = 'ws://';
            }
            const metadataSocket = new WebSocket(
                ws_protocol
                + window.location.host
                + '/ws/radio/metadata/'
            );
            metadataSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.type === 'set_metadata') {
                    showMetadata(data.stream_id, data.metadata)
                } else if (data.type === 'add_stream') {
                    showNewStream(data.stream);
                } else if (data.type === 'remove_stream') {
                    removeDeactivatedStream(data.stream);
                } else if (data.type === 'error') {
                    let error_msg = document.getElementById(data.stream_id + "_metadata_error_msg");
                    error_msg.innerText = data.text;
                    error_msg.hidden = false;
                }
            };

            function setMetadata(stream_id) {
                let release_id = document.getElementById(stream_id + "_metadata_release_id").value;
                let error_msg = document.getElementById(stream_id + "_metadata_error_msg");
                error_msg.hidden = true;
                let message;
                if (release_id) {
                    message = {
                        'type': 'set_metadata',
                        'stream_id': stream_id,
                        'release_id': release_id
                    };
                } else {
                    message = {
                        'type': 'delete_metadata',
                        'stream_id': stream_id
                    };
                }
                if (confirm("Are you sure you want to change metadata?")) {
                    metadataSocket.send(JSON.stringify(message));
                }
            }

            function showMetadata(stream_id, metadata) {
                let metadata_table = document.getElementById(stream_id + "_metadata_table");
                if (metadata) {
                    let title = document.getElementById(stream_id + "_metadata_title");
                    let artist = document.getElementById(stream_id + "_metadata_artist");
                    let label = document.getElementById(stream_id + "_metadata_label");
                    let country = document.getElementById(stream_id + "_metadata_country");
                    let year = document.getElementById(stream_id + "_metadata_year");
                    let genre = document.getElementById(stream_id + "_metadata_genre");
                    let style = document.getElementById(stream_id + "_metadata_style");
                    let uri = document.getElementById(stream_id + "_metadata_uri");
                    title.innerText = metadata.title;
                    let artists_name = [];
                    let artists = metadata.artists || [];
                    for (const a of artists) {
                        artists_name.push(a.name);
                    }
                    let labels_name = [];
                    let labels = metadata.labels || [];
                    for (const l of labels) {
                        labels_name.push(l.name);
                    }
                    label.innerText = labels_name.join(", ");
                    artist.innerText = artists_name.join(", ");
                    country.innerText = metadata.country;
                    year.innerText = metadata.year;
                    let genres = metadata.genres ? metadata.genres : [];
                    genre.innerText = genres.join(", ");
                    let styles = metadata.styles ? metadata.styles : [];
                    style.innerText = styles.join(", ");
                    uri.innerText = metadata.uri;
                    uri.href = metadata.uri;
                    metadata_table.hidden = false;
                    mediaPlayers[stream_id].poster(metadata.thumb);
                } else {
                    mediaPlayers[stream_id].poster(mediaPlayers[stream_id].defaultPoster);
                    metadata_table.hidden = true;
                }
            }

            // Populate page with available streams
            {% for stream in streams %}

            showNewStream({{ stream.to_json|safe }});

            {% endfor %}

        </script>
    </body>
    {% include "footer.html" %}
</html>
