<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">Manage notifications</h1>
            <h5 class="mt-5" style="color: floralwhite">Whenever a selected stream goes online, you will receive a notification via email.</h5>
            <hr>
            {% if streams %}
            <form name="formNotifications" style="color:white;">
                {% csrf_token %}
                <p>
                    <label>Streams:</label>
                </p>
                <ul id="id_Streams">
                    {% for stream in streams %}
                    <li>
                        <label for="id_Streams_{{ forloop.counter0 }}">
                            <input type="checkbox" name="Streams" value="{{ stream.mountpoint }}" id="id_Streams_{{ forloop.counter0 }}" {% if request.user in stream.subscribers.all %} checked {% endif %}>
                            {{ stream.name }}   ({{ stream.owner.get_username }})
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-lg btn-light" id="set-preferences-button">Set Preferences</button>
            </form>
            <div style="margin-top: 10px;">
                <p id="confirmation" hidden ></p>
            </div>
            {% else %}
            <p class="mt-5" style="color: floralwhite">Wait, seems there are no stream available at the moment?</p>
            {% endif %}
        </main>
        <script>

        const csrftoken = $('[name=csrfmiddlewaretoken]')[0].value;

        const button = document.getElementById("set-preferences-button");
        const confirmation = document.getElementById("confirmation");


        $("form[name=formNotifications]").submit(setPreferences);

        function setPreferences(event) {
            event.preventDefault();
            button.disabled = true;
            confirmation.hidden = true;
            confirmation.style = $('p');
            let xmlhttp = new XMLHttpRequest();
            xmlhttp.addEventListener("readystatechange", processResponse);
            xmlhttp.open("POST", window.location.href);
            xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp.send($('form[name=formNotifications]').serialize());
        };

        function processResponse(event) {
            if (this.readyState === 4) {
                if (this.status >= 200 && this.status < 500) {
                    confirmation.innerText = this.responseText;
                    if (this.status >= 400) {
                        confirmation.style.color = "red";
                    }
                } else {
                    confirmation.innerText = "An error occurred, please contact an administrator";
                    confirmation.style.color = "red";
                };
                confirmation.hidden = false;
                button.disabled = false;
            };
        };

        </script>
    </body>
    {% include "footer.html" %}
</html>
