{% load static %}
<html lang="en">
    {% include "header.html" %}
    <body class="text-center">
        <main role="main" class="container">
              <h2 class="mt-5" id=login_title>Welcome to SongSpotting!</h2>
              <p class="lead" id="please_register">Your account has been successfully activated</p>
            <div>
                <span></span>
                <button class="btn btn-lg btn-light btn-block" type="button" id='loginButton'>Proceed to login</button>
            </div>
        </main>
        <script>

        document.getElementById("loginButton").addEventListener("click", loginAction);

        function loginAction() {
            window.location.href = "{{ settings.LOGIN_URL }}"
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
