{% load static %}
<html>
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">Invite other people to SongSpotting!</h1>
            <hr>
            <form action="#" name="form_email">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Invite by email:</h1>
                <div style="float:inside;">
                    <label for="inputEmail" class="sr-only">email</label>
                    <input type="text" id="inputEmail" name="email" class="form-control" placeholder="email" required autofocus>
                </div>
                <div style="float: inside">
                    <button class="btn btn-lg btn-light btn-block" type="button" id='inviteEmail'>Send invite</button>
                </div>
                <br>
                <div style="float: inside">
                    <a id="email_state" hidden></a>
                </div>
            </form>
            <hr>
            <form action="#" name="form_link">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Invite by link:</h1>
                <div style="float: inside">
                    <button class="btn btn-lg btn-light btn-block" type="button" id='inviteLink'>Generate link</button>
                </div>
                <div style="float: inside" id="link_state" hidden>
                    <p>Use this invitation link:<br><a id="invite_url"></a></p>
                </div>
            </form>
        </main>

        <script>
        document.getElementById("inputEmail").addEventListener("click", resetStyle);
        document.getElementById("inputEmail").addEventListener("change", resetStyle);
        function resetStyle() {
                this.style = $(".form-control")
        }

        document.getElementById("inviteEmail").addEventListener("click", sendEmail);
        document.getElementById("inviteLink").addEventListener("click", generateLink);

        function sendEmail() {
            document.getElementById("email_state").hidden = true;
            document.getElementById("email_state").style = $('a');

            let email = document.getElementById('inputEmail').value;

            if (email === "") {
                document.getElementById('inputEmail').style.borderColor = "red";
            }
            if (email !== "") {
                let data = {
                    "email": email
                };

                let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp_post.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        document.getElementById("email_state").innerText = this.responseText;
                        document.getElementById("email_state").hidden = false;
                    }
                }
                xmlhttp_post.open("POST", "/auth/invite/"); // Method and Target
                xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
                xmlhttp_post.send($('form[name=form_email]').serialize()); //From JSON Object to String
            }
        }
        function generateLink() {
            document.getElementById("link_state").hidden = true;
            let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
            xmlhttp_post.onreadystatechange = function() {
                if (this.readyState === 4) {
                    document.getElementById("invite_url").innerText = this.responseText;
                    document.getElementById("invite_url").href = this.responseText;
                    document.getElementById("link_state").hidden = false;
                }
            }
            xmlhttp_post.open("POST", "/auth/invite/"); // Method and Target
            xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
            xmlhttp_post.send($('form[name=form_link]').serialize()); //From JSON Object to String
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
