{% load static %}
<html>
    {% include "header.html" %}

    <body class="text-center">
        <main role="main" class="container">
            <h1 class="mt-5" id=login_title style="color: navajowhite; border: #5E5694; ">Welcome to SongSpotting!</h1>

            <form class="form-signin" action="#">
                {% csrf_token %}
                <span class="material-icons" style="font-size: 100px;"><img src="{% static 'user/profile_picture.png' %}" style="height: 100px"></span>
                <h3>Please login</h3>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username or Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label for="rememberMe">
                        <input type="checkbox" name="_persistent" value=1 id="rememberMe"> <a style="color: navajowhite">Remember me</a>
                    </label>
                    <h1 class="h5 mb-3 font-weight-normal" id="login_state" hidden></h1>
                </div>
                    <a href="/user/reset-password/" style="color: lightblue">Forgot password?</a>
                <button class="btn btn-lg btn-light btn-block" type="button" id="loginButton">Login</button>
            </form>
            <b><a href="/auth/register/" style="color: lightsalmon">Request access</a></b>
        </main>

        <script>
        document.addEventListener(
            "keydown",
            function(event) {
                if (event.code === "Enter") {
                    document.getElementById("loginButton").click();
                }
            }
        );
        document.getElementById("loginButton").addEventListener("click", loginAction);

        document.getElementById("inputUsername").addEventListener("click", resetStyle);
        document.getElementById("inputUsername").addEventListener("change", resetStyle);
        document.getElementById("inputPassword").addEventListener("click", resetStyle);
        document.getElementById("inputPassword").addEventListener("change", resetStyle);

        function resetStyle() {
                this.style = $(".form-signin")
        }

        function loginAction() {
            document.getElementById('loginButton').disabled = true; // this prevents spamming POST requests
            document.getElementById("login_state").hidden = true;
            let username = document.getElementById('inputUsername').value;
            let password = document.getElementById('inputPassword').value;

            if (username === "") {
                document.getElementById('inputUsername').style.borderColor = "red";
            }
            if (password === "") {
                document.getElementById('inputPassword').style.borderColor = "red";
            }
            if (username !== "" && password !== "") {
                let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp_post.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        document.getElementById('loginButton').disabled = false;
                        if (this.status === 200){
                            document.getElementById("login_state").style.color= "green";
                            document.getElementById("login_state").innerHTML = this.responseText;
                            document.getElementById("login_state").hidden = false;
                            const next = "{{ next }}".replace(/&amp;/g, "&");
                            setTimeout(function () {window.location.href = next;}, 500)
                        }
                        else if (this.status === 401){
                            document.getElementById("login_state").style.color = "red";
                            document.getElementById("login_state").innerHTML = this.responseText;
                            document.getElementById("login_state").hidden = false;
                        }
                        else if (this.status >= 400){
                            document.getElementById("login_state").innerHTML = "An error coourred, please try reloading the page.<br>If the error persists contact an administrator using<br>the link at the bottom of the page";
                            document.getElementById("login_state").hidden = false;
                            document.getElementById("login_state").style.color = "red";
                        }
                    }
                }
                xmlhttp_post.open("POST", "{{ settings.LOGIN_URL }}"); // Method and Target
                xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
                xmlhttp_post.send($('form').serialize());  // URL encode form data
            }
            else {
                document.getElementById('loginButton').disabled = false;
            }
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
