<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">Manage user registration request</h1>
            <h3 class="mt-3">Request from: <b>{{ registration_request.email }}</b></h3>
            {% if user.is_staff %}
            <p class="mt-5">Message:</p>
            <textarea id="requestMessage" readonly style="resize: none;">{{ registration_request.message }}</textarea>
            <p class="mt-5">What do you want to do?</p>
            {% else %}
            <p class="mt-5">
                If the registration request is rejected, the email address is immediately deleted from the server.
            </p>
            {% endif %}
            <hr>
            {% if user.is_staff %}
            <button class="btn btn-lg btn-light" id="acceptRequestButton" style="background-color:forestgreen;" onclick="acceptRequest();">Accept request</button>
            {% endif %}
            <button class="btn btn-lg btn-light" id="rejectRequestButton" style="background-color:darkred; display: inline" onclick="rejectRequest();">Reject request</button>
            <p id="confirmation" hidden></p>
            <form name="manageRequestForm">{% csrf_token %}</form>
        </main>
    <script>
        const csrftoken = $('[name=csrfmiddlewaretoken]')[0].value;

        function processResponse(event) {
            if (this.readyState === 4) {
                if (this.status >= 200 && this.status < 500) {
                    document.getElementById("confirmation").innerText = this.responseText;
                    if (this.status >= 400) {
                        document.getElementById('confirmation').style.color = "red";
                    }
                }
                else {
                    document.getElementById("confirmation").innerText = "An error occurred, please contact an administrator";
                    document.getElementById('confirmation').style.color = "red";
                }
                document.getElementById("confirmation").hidden = false;
            }
        }

        {% if user.is_staff %}
        function acceptRequest() {
            if (confirm("Are you sure you want to accept the registration request from {{ registration_request.email }}?")) {
                document.getElementById("confirmation").hidden = true;
                document.getElementById("confirmation").style = $('p');
                let xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp.addEventListener("readystatechange", processResponse);
                xmlhttp.open("POST", window.location.href); // Method and Target
                xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
                xmlhttp.send();
            }
        }
        {% endif %}

        function rejectRequest() {
            if (confirm("Are you sure you want to reject the registration request from {{ registration_request.email }}?")) {
                document.getElementById("confirmation").hidden = true;
                document.getElementById("confirmation").style = $('p');
                let xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp.addEventListener("readystatechange", processResponse);
                xmlhttp.open("DELETE", window.location.href); // Method and Target
                xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
                xmlhttp.send();  // URL encode form data
            }
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>