{% load static %}
<html>
    {% include "header.html" %}
    <body class="text-center">
        <main role="main" class="container">
            <h1 class="mt-5" id=login_title>Welcome to SongSpotting!</h1>
            <form class="form-signin" action="#" id="form-signin" name="form-signin">
                {% csrf_token %}
                <span class="material-icons" style="font-size: 100px;"><img src="{% static 'user/profile_picture.png' %}" style="height: 100px"></span>
                <h3>Please Register</h3>
                <input type="text" id="inputMail" name="email" class="form-control mr-1" placeholder="Email" required autofocus>
                <label for="inputMail" class="sr-only">Email</label>
                <input type="text" id="inputUsername" name="username" class="form-control mr-1" placeholder="Username" required autofocus>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="repeated_password" id="inputRepeatPassword" class="form-control" placeholder="Repeat Password" required>
                <label for="inputRepeatPassword" class="sr-only">Repeat Password</label>
                <button class="btn btn-lg btn-light btn-block" type="button" id='loginButton'>Sign Up</button>
              </form>
            <div>
                <p id="confirmation" hidden></p>
            </div>
        </main>

        <script>

        document.addEventListener(
            "keydown",
            function(event) {
                if (event.code === "Enter") {
                    document.getElementById("loginButton").click();
                }
            }
        );
        document.getElementById("loginButton").addEventListener("click", loginAction);

        function loginAction() {
            document.getElementById('loginButton').disabled = true;
            document.getElementById("confirmation").style = $('p');
            document.getElementById("confirmation").hidden = true;
            let mail = document.getElementById('inputMail').value;
            let user = document.getElementById('inputUsername').value;
            let psw = document.getElementById('inputPassword').value;
            let rpsw = document.getElementById('inputRepeatPassword').value;
            if (psw === "" || mail === "" || user === "" || rpsw === "") {
                document.getElementById('confirmation').innerText = "Please fill all fields with required data";
                document.getElementById('confirmation').style.color = "red";
                document.getElementById('confirmation').hidden = false;
            }
            else if (psw !== rpsw) {
                document.getElementById('confirmation').innerText = "Passwords do not match";
                document.getElementById('confirmation').style.color = "red";
                document.getElementById('confirmation').hidden = false;
            }
            else {
                let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp_post.addEventListener("readystatechange", doLogin);

                function doLogin(event) {
                    if (this.readyState === 4) {
                        if (this.status === 200) {
                            document.getElementById("form-signin").hidden = true;
                            document.getElementById("confirmation").innerText = "An account activation link has been sent to " + $('input[name=email]').val();
                        }
                        else if (this.status >= 400 && this.status < 500) {
                            document.getElementById("confirmation").innerText = this.responseText;
                            document.getElementById('confirmation').style.color = "red"
                        }
                        else {
                            document.getElementById("confirmation").innerText = "An error occurred, please contact an administrator";
                            document.getElementById('confirmation').style.color = "red"
                        }
                        document.getElementById("confirmation").hidden = false;
                        document.getElementById('loginButton').disabled = false;
                    }
                }

                xmlhttp_post.open("POST", window.location.href); // Method and Target
                xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
                xmlhttp_post.send($('form[name=form-signin]').serialize());  // URL encode form data
            }
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
