<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "header.html" %}
    <style>
    </style>
    <body>
        <main role="main">
            <h1 class="mt-5">User registration</h1>
            <p class="mt-5">In order to access the site, you need to log in.
                Users can be created only with a permission from the site administrators.<br>
                Input your email below to request access to the site. Leave also a message telling who you are.
                You will receive a response soon notifying you about the status of your request.<br><br>

                Your email will only be used for communications about the site (no spam) and it will never be shared
                with anyone else.<br>
                If we reject your registration request, your email will be immediately deleted.
                It is always possible to delete a user to remove ALL it's data from the server.
            </p>
            <hr>
            <form name="form" style="color:white;">
                {% csrf_token %}
                <h3>
                    <label>Request access:</label>
                </h3>
                <ul>
                    <li>
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" maxlength="254" required id="id_email">
                    </li>
                    <li>
                        <label for="id_message">Message:</label>
                        <textarea name="message" id="id_message" style="resize: none;"></textarea>
                    </li>
                </ul>
                <div>
                    <p id="confirmation" hidden></p>
                </div>
                <button class="btn btn-lg btn-light" id="sendRequestButton">Send request</button>
            </form>
        </main>
    <script>
        document.addEventListener(
            "keydown",
            function(event) {
                if (event.code === "Enter") {
                    document.getElementById("sendRequestButton").click();
                }
            }
        );

        $("form").submit(sendRequest);

        function sendRequest(event) {
            event.preventDefault();
            document.getElementById("confirmation").hidden = true;
            document.getElementById("confirmation").style = $('p');
            document.getElementById('sendRequestButton').disabled = true;
            let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
            xmlhttp_post.addEventListener("readystatechange", processResponse);

            function processResponse(event) {
                if (this.readyState === 4) {
                    if (this.status >= 200 && this.status < 500) {
                        document.getElementById("confirmation").innerText = this.responseText;
                        if (this.status >= 400) {
                            document.getElementById('confirmation').style.color = "red";
                        }
                    }
                    else {
                        document.getElementById("confirmation").innerText = "An error occurred, please contact an administrator";
                        document.getElementById('confirmation').style.color = "red";
                    }
                    document.getElementById("confirmation").hidden = false;
                    document.getElementById('sendRequestButton').disabled = false;
                }
            }

            xmlhttp_post.open("POST", window.location.href); // Method and Target
            xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
            xmlhttp_post.send($('form').serialize());  // URL encode form data
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>