{% load static %}
<html lang="en">
    {% include "header.html" %}
    <body class="text-center">
        <main role="main" class="container">
              <h2 class="mt-5">Mmmmmm, no. Nothing here.</h2>
        </main>
    </body>
    {% include "footer.html" %}
</html>
