{% load static %}
<html lang="en">
    {% include "header.html" %}
    <body class="text-center">
        <main role="main" class="container">
            <img src="{% static 'songspotting/bomb.jpg' %}" alt="broken" height="100%" width="100%">
            <h2 class="mt-5">You were able to break something, congratulations!!</h2>
        </main>
    </body>
    {% include "footer.html" %}
</html>
