<footer class="text-center text-lg-start fixed-bottom" style="background-color: #663399; margin-top: 20px;">

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-0 text-light" style="background-color: rgba(0, 0, 0, 0.2)">
        <div>
            Contacts: <a class="text-light" href="mailto:{{ settings.EMAIL_HOST_USER }}">{{ settings.EMAIL_HOST_USER }}</a>
        </div>
        <div>
            Contribute: <a href="https://gitlab.com/simonepozzoli/songspotting" style="color: orange"><img src="https://docs.gitlab.com/assets/images/gitlab-logo.svg"> SongSpotting</a>
        </div>
    </div>
    <!-- Copyright -->
</footer>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
