{% load static %}
{% load cookiebanner %}
<head>
    <meta charset="utf-8">
    <title>SongSpotting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://use.fontawesome.com/bc59cc0bbf.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static 'songspotting/favicon.ico' %}"/>  <!--Load icon from static files-->

    <style>

    body {
      display: -ms-flexbox;
      /*display: -webkit-box;*/
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url("{% static 'songspotting/background.png' %}");
      background-repeat: no-repeat;
        background-size: cover;
      background-attachment: fixed;
    }

    .form-signin {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      margin: auto;
      margin-top: 30px;

    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 14px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="username"] {
      margin-bottom: 10px;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
    }
    .form-signin input[type="email"] {
      margin-bottom: 10px;
    }
    .form-signin input[type="repeated_password"] {
      margin-bottom: 10px;
    }

    h1 {
        color: navajowhite;
      /*text-shadow: -1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
    p {
        color: white;
    }
    hr {
        size: 100px;
        width: 100%;
        color: navajowhite;
    }
    .btn {
        background-color: #22277A;
        color:white;
    }
    </style>

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #663399;">
        <a href="/">
            <img src="{% static 'songspotting/favicon.ico' %}" width="60px" height="60px" style="padding: 10px">
        </a>
	<a href="/">
            <img src="{% static 'songspotting/logo.png' %}" height="35px" style="padding-right: 10px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbar-list">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: 1px solid white;">
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/radio/">Listen</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/radio/streams/">Stream</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/radio/recordings/">Recordings</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/radio/notifications/">Notifications</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="/auth/invite/">Invite</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'user/profile_picture.png' %}" width="40" height="40" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="/user/reset-password/">Change Password</a></li>
                        <li><a class="dropdown-item" href="/auth/logout/">Log Out</a></li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <form name="deleteUserForm">{% csrf_token %}</form>
                            <button class="btn btn-lg btn-light" type="button" id="deleteUserButton" style="background-color:darkred;">Delete user</button>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="/auth/login/">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% if user.is_authenticated %}
<script>
    document.getElementById("deleteUserButton").addEventListener("click", deleteUser);

    function deleteUser() {
        if (confirm("Are you sure you want to delete your account? This operation can NOT be reverted. All your data will be erased from the database.")) {
            let xmlhttp_post = new XMLHttpRequest();   // new HttpRequest instance
            xmlhttp_post.onreadystatechange = function() {
                if (this.readyState === 4) {
                    if (this.status == 200) {
                        alert("Account successfully deleted.");
                        window.location.href = "/";  // go to HOMEPAGE
                    } else {
                        alert("An error occurred, please contact an administrator.");
                    }
                }
            }
            xmlhttp_post.open("POST", "/user/_delete/"); // Method and Target
            xmlhttp_post.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); //Headers
            xmlhttp_post.send($('form[name=deleteUserForm]').serialize());
        }
    }
</script>
{% endif %}
{% cookiebanner_modal 'cookiebanner' %}
