{% load i18n %}

<div id="cookiebannerModal" class="hidden" tabindex="-1" role="dialog" aria-labelledby="cookiebannerModalLabel" aria-hidden="true">
  <div id="cookiebannerModalDialog">
    <div id="cookiebannerModalHeader">
      {% if cb_settings.header_text %}
        <p style="float: left; margin-top: 1rem">{{ cb_settings.header_text|safe }}</p>
      {% endif %}
      <input type="submit" name="save" class="cookiebannerSubmit btn btn-lg btn-light"
             value="{% trans 'OK' %}">
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let keyValue = document.cookie.match('(^|;) ?{{ cb_settings.cookie_name|default:"cookiebanner" }}=([^;]*)(;|$)');
    let cookiebannerCookie = keyValue ? decodeURIComponent(keyValue[2]) : null;
    if (cookiebannerCookie) return;

    document.getElementById("cookiebannerModal").classList.remove('hidden');

    document.querySelectorAll("input.cookiebannerSubmit").forEach((inp) => {
      inp.addEventListener("click", () => {
        let enable_cookies = "cookies_acknowledged";
        const max_age = (365 * 24 * 60 * 60);
        const secure = {% if cb_settings.secure is True %} "secure" {% else %} "" {% endif %};
        document.cookie = `{{ cb_settings.cookie_name|default:"cookiebanner" }}=${encodeURIComponent(enable_cookies)}; path=/; max-age=${max_age}; ${secure}`;
        location.reload();
      })
    })
  });
</script>

<style>
  #cookiebannerModal {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Roboto, sans-serif;
    z-index: 9999;
    flex-direction: column-reverse;
  }

  #cookiebannerModal.hidden {
    display: none;
  }

  #cookiebannerModalDialog {
    background: rgba(102, 51, 153, 0.6);
    box-shadow: 0 0 20px 8px #000;
  }

  #cookiebannerModalHeader {
    padding-left: 1rem;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
  }

  .cookiebannerSubmit.btn {
    scale: 0.6;
    float: right;
  }

</style>
